/* ------------------------------- PRIMARY COLORS ------------------------------- */
// Primary text color
$primary-dark: #000000; // Black
$primary-light: #ffffff; // Pure white


/* ------------------------------- SECONDARY COLORS ------------------------------- */
$secondary-light: #ffff00; // Yellow

/* ------------------------------- BACKGROUND COLORS ------------------------------- */
$background-dark: #171717; 
$background-light: #ffffff; 

/* ------------------------------- SUPPORTING COLORS ------------------------------- */
$supporting-light:  rgb(216, 209, 111); 
$supporting-shadow:#808080;


