/* --------------- PARTIAL IMPORTS --------------- */
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/mixins" as mx;

.hero{
   
    background-color: $background-dark;
    padding: 9rem 5rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    color: $primary-light;
    height: 100vh;
    &__content{
        width: 45%;
        padding-top: 2rem;
    }
    &__heading{
        font-size: 2rem;
        line-height: 3rem;
    }
    &__paragraph{
        padding-top: 1rem;
        padding-bottom: 2rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    &__button{
        background-color: $secondary-light;
        font-weight:600;
        border: none;
        color: $primary-dark;
        height: 2rem;
        width: 10rem;
        border-radius: 0.625rem;
        padding: 0.313rem;
    }
    
    &__imageContainer{
        width: 14rem;
        height: 33rem;
    
    }
    &__images{
        display: flex;
        gap: 1rem;
    }
    &__image{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        box-shadow: 0 10px 20px -5px $primary-dark;
        background-position: center;
        background-size: cover;
        position: relative;
        &-iconLeft{
            position: absolute;
            left: 47%;
            top: 89%;
        }
        &-iconRight{
            position: absolute;
            right: 47%;
            top: 89%;
        }
    }
}
