.laundry{
    margin: 0;
    background:url(../../assets/images/elevator.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    background-repeat: no-repeat;
    &__title{
      font-size: 3rem;
      position: absolute;
      color: yellow;
      left: 42%;
    }
    
  }
  
  .form {
    position: absolute;
    top: 15%;
    left: 30%;
    padding: 2rem;
    background-color: #171717;
    width: 40rem;
    height: 35rem;
    &__content{
      display: flex;
      flex-direction: column;
    }
    &__detail{
      display: flex;
      flex-direction: column;
      padding-bottom: 0.5rem;
      &-timeContainer{
        display: flex;
        gap: 1rem;
        
      }
    }
    &__label{
      color: white;
      padding-bottom: 0.25rem;
    }
    &__input{
      padding: 0.5rem;
      height: 2.5rem;
      &-time{
        width: 11.3rem;
      }
    }
    &__btn{
      background-color: yellow;
      width: 100%;
      height: 3rem;
      margin-top: 1rem;
    }
  
  }