@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as bp;
@use "../../styles/partials/mixins" as mx;



.status{
    margin: 0;
    padding: 0rem 5rem;
    height: 100%;
    background-color: $background-dark;
    color: $primary-light;
}

.washers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__heading{
        font-size: 3rem;
    }

}
.washer{
    border: 2px solid $primary-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    &__container{
        display: flex;
        gap: 2rem;
    }
    &__image{
        width: 100%;
        &--red{
            background-color: red;
        }
        &--green{
            background-color: green;
        }
    }
    &__id{
        padding-left: 1rem;
    }
    &__book-button{
        background-color: $secondary-light;
            border: none;
            height: 2rem;
            width: 8rem;
            border-radius: 0.625rem;
            padding: 0.313rem;
    }
    &__book-buttonEnabled{
            color: $primary-dark;
            font-weight:600;
    }
    &__book-buttonDisabled{
        color: gray;
    }
}

.dryers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
    &__heading{
        font-size: 3rem;
    }

}
.dryer{
    border: 2px solid $primary-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    &__container{
        display: flex;
        gap: 3rem;
    }
    &__image{
        width: 100%;
        &--red{
            background-color: red;
        }
        &--green{
            background-color: green;
        }
    }
    &__id{
        padding-left: 1rem;
    }
    &__book-button{
        background-color: $secondary-light;
            border: none;
            height: 2rem;
            width: 8rem;
            border-radius: 0.625rem;
            padding: 0.313rem;
    }
    &__book-buttonEnabled{
        color: $primary-dark;
        font-weight:600;
    }
    &__book-buttonDisabled{
    color: gray;
    }
}
